#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.bg {
  width: 50%;
}

.create-bg {
  width: 15%;
}

.sidebar {
  background: #313338;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 250px;
}

.sidebar-item {
  padding-bottom: 50px;
  color: #FFF;
  text-decoration: none;
}

.sidebar-item:hover {
  cursor: pointer;
  color: grey;
}

.link {
  text-decoration: none;
}

.crewmate-input {
  display: flex;
  padding: 2rem;
  gap: 50px;
  justify-content: center;
}
.name-input, .speed-input, .color-input {
  background-color: #313338;
  border-radius: 15px;
}

.name-input, .speed-input {
  padding: 2rem;
  height: 100px;
}

.color-input {
  padding: 1rem;
}

.color-options {
  margin-top: -10px;
  padding: 1rem;
  text-align: left;
  margin-bottom: -10px;
}